button {
  border: none;
  padding: 4px 8px;
  font-size: 2rem;
  font-family: inherit;
  color: white;
  background: black;
  border-radius: 20px;
  line-height: 1.2;
}

.start img {
  width: 32px;
  margin-left: 4px;
}

.start {
  text-align: right;
  margin: 24px 0;
}