.quotation {
  display: block;
  margin-bottom: 24px;
  background: url('/img/bg.jpg') center bottom/ cover no-repeat;
  aspect-ratio: 2/1;
  border-radius: 48px;
  font-size: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explain {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: right;
  margin-bottom: 72px;
}